<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
  </head>
  <body>
    <h1>Demande de changement de votre mot de passe</h1>
    <p>
        Vous avez oublié votre mot de passe ?
        <br>C'est bien embêtant
        <br>N'ayez crainte, en cliquant sur le lien ci-dessous vous pourrez en créer un nouveau pour vous connecter à votre compte
    </p>
    <p>
        <a href="{{ url }}">Cliquez sur ce lien pour réinitialiser votre mot de passe</a>
    </p>
  </body>
</html>